<p id="notice"><%= notice %></p>

<h1>Билеты</h1>

<table>
  <tbody>
  <tr>
    <td>Поезд №</td>
    <td>Станция отправления</td>
    <td>Станция прибытия</td>
    <td>ФИО пассажира</td>
    <td>Паспорт</td>
  </tr>
      <%= render @tickets %>
  </tbody>
</table>

<br>

<%= link_to 'Новый билет', search_path %>
<div></div>
<%= link_to 'Главное меню', root_path %>