<h1>Билеты</h1>

<table class="table table-striped" >
  <thead>
  <tr>
    <td>Поезд №</td>
    <td>Станция отправления</td>
    <td>Станция прибытия</td>
    <td>ФИО пассажира</td>
    <td>Паспорт</td>
    <td>Покупатель билета</td>
  </tr>
  </thead>
  <tbody>
  <% if @tickets.empty? %>
      <tr>
        <td>Приобретенных билетов нет</td>
      </tr>
  <% else %>
      <% @tickets = current_user.tickets unless current_user.admin? %>
      <%= render @tickets %>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Новый билет', search_path %>
<div></div>
<%= link_to 'Главное меню', admin_panels_path %>
