<div></div>
Верхние : <%= @wagon.upper_places %>
<div></div>
Нижние : <%= @wagon.lower_places %>
<div></div>
Боковые верхние : <%= @wagon.side_upper_places %>
<div></div>
Боковые нижние : <%= @wagon.side_lower_places %>