<p>Добрый день, <%= @user.user_firstname %> <%= @user.user_family %>.</p>
<p>Вы отказались от билета по маршруту "<%= @ticket.route_name %>"</p>
<p>Посмотреть все свои билеты Вы можете <%= link_to 'здесь', tickets_url %></p>